@page "/change-password"
@inject tms.Services.StorageConfigurationService StorageConfigService

<Card Class="my-card-container">
    <CardHeader class="bg-blue text-white text-center rounded-3">
        <h4 class="m-1">Update Your Password</h4>
    </CardHeader>
    <CardBody>
        <EditForm Model="@StorageConfigService" class="form-horizontal">

            @* <div class="form-group mb-3">
                <label for="OldPassword" class="form-label fw-bold">Old Password:</label>
                 <InputText id="OldPassword" class="form-control" Type="password" Placeholder="Enter your old password" />
             </div>

            <div class="form-group mb-3">
                <label for="NewPassword" class="form-label fw-bold">New Password:</label>
                <InputText id="NewPassword" class="form-control" Type="password" Placeholder="Enter your new password" />
             </div>

            <div class="form-group mb-3">
                <label for="ConfirmNewPassword" class="form-label fw-bold">Confirm New Password:</label>
                 <InputText id="ConfirmNewPassword" class="form-control" Type="password" Placeholder="Re-enter your new password" />
             </div> *@

            <div class="form-group mb-3">
                <label for="OldPassword" class="form-label fw-bold">Old Password:</label>
                <div class="d-flex justify-content-around">
                    <input asp-for="OldPassword" @bind-value="Password" type="@PasswordInputType" class="form-control form-control-lg" id="password" placeholder="Enter old password">
                    <div>
                        <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Outline="true" class="btn btn-lg" @onclick="TogglePasswordVisibility">
                            <i class="@ToggleIconClass" id="togglePasswordIcon"></i>
                        </Button>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="NewPassword" class="form-label fw-bold">New Password:</label>
                <div class="d-flex justify-content-around">
                    <input asp-for="NewPassword" @bind-value="Password" type="@PasswordInputType" class="form-control form-control-lg" id="password" placeholder="Enter new password">
                    <div>
                        <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Outline="true" class="btn btn-lg" @onclick="TogglePasswordVisibility">
                            <i class="@ToggleIconClass" id="togglePasswordIcon"></i>
                        </Button>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="ConfirmNewPassword" class="form-label fw-bold">Confirm New Password:</label>
                <div class="d-flex justify-content-around">
                    <input asp-for="ConfirmNewPassword" @bind-value="Password" type="@PasswordInputType" class="form-control form-control-lg" id="password" placeholder="Enter new password">
                    <div>
                        <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Outline="true" class="btn btn-lg" @onclick="TogglePasswordVisibility">
                            <i class="@ToggleIconClass" id="togglePasswordIcon"></i>
                        </Button>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 mt-4">
                <Button Type="ButtonType.Submit" Color="ButtonColor.Success" class="btn btn-lg" >
                    Change Password
                </Button>
            </div>
        </EditForm>
    </CardBody>
</Card>

<style>
    .bg-blue {
        background-color: #2460b9;
    }

    .my-card-container {
        padding: 15px;
        margin: auto;
        background-color: white;
        border-radius: 15px;
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        width: 24rem;
    }
</style>


@code {
    private string Password { get; set; } = string.Empty; // To store the password
    private string PasswordInputType { get; set; } = "password"; // Default input type
    private string ToggleIconClass { get; set; } = "bi bi-eye"; // Default icon class

    // Method to toggle the password visibility
    private void TogglePasswordVisibility()
    {
        if (PasswordInputType == "password")
        {
            PasswordInputType = "text"; // Change to text
            ToggleIconClass = "bi bi-eye-slash"; // Change icon to eye-slash
        }
        else
        {
            PasswordInputType = "password"; // Change back to password
            ToggleIconClass = "bi bi-eye"; // Change icon back to eye
        }
    }
}
